<section class="logo-container">
    <div class="container mt-0 h-100 w-100 d-flex align-items-center justify-content-center">
        <div class="row align-items-center justify-contain-center w-100">
            <div class="col-xl-12 wrapper">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-8 col-md-6">
                                <img src="../../../assets/images/login-img/pic-5.jpg" class="food-img" alt="">
                            </div>	
                            <div class="col-xl-4 col-md-6">
                                <div class="sign-form">
                                    <div class="text-center mb-3">
                                        <img src="../../../assets/images/logo-full.png" class="mb-3" alt="">
                                        <h4 class="fs-20 font-w800 text-black">Create an Account</h4>
                                        <span class="sign-up">Sign Up</span>
                                    </div>
                                    <form>
                                        <div class="mb-3">
                                            <label class="mb-1" for="otp"><strong>OTP</strong></label>
                                            <input type="password" class="form-control" placeholder="Enter OTP" name="otp" [(ngModel)]="loginFormDetails.otp">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block shadow" (click)="handleLogin()">Sign In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>