<section class="payment-warapper">
    <div class="container">
        <h4 class="text-center">Payment Review</h4>

        <div class="card shadow">
            <div class="confirm-icon">
                <i class="fa-solid fa-check"></i>
            </div>
            <div class="title-content">
                <p class="text-center mb-0">Payment Total</p>
                <h2 class="text-center">400</h2>
            </div>
            <div class="contents">
                <div class="calculation container mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Balance Amount</div>
                        <div>400</div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Payment Mode</div>
                        <ng-container *ngIf="!togglePaymentTemplate else paymentTempate;">
                            <div (click)="togglePaymentModeTemplate()">{{ selectedMode }}</div>
                        </ng-container>
                        <ng-template #paymentTempate>
                            <select name="mode" class="form-control payment-mode" [(ngModel)]="selectedMode" (change)="togglePaymentModeTemplate()" style="height: 2rem; width: 100px;">
                                <option value="Cash" selected>Cash</option>
                                <option value="Gpay">Gpay</option>
                                <option value="banking">Net Banking</option>
                            </select>
                        </ng-template>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Txn No</div>
                        <ng-container *ngIf="!updateBill.taxNo else taxTemplate">
                            <div>{{ updateBill.taxNo }}</div>
                        </ng-container>
                        <ng-template #taxTemplate>
                            <input type="text" name="tax" id="tax" class="form-control" [(ngModel)]="updateBill.taxNo">
                        </ng-template>
                    </div>
                    <div class="p-1 d-flex justify-content-between align-items-center amount">
                        <div>Amount</div>
                        <div class="amount-value"><strong>400</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 save-btn">
            <button class="btn btn-primary" (click)="onPaymentSubmit()">Done</button>
        </div>
    </div>
</section>