<section class="order-creation">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h3 (click)="handleViewOrder()">View Item</h3>
            <button class="btn btn-primary" (click)="handleNavigateOrders()">View Orders</button>
        </div>
        <div class="card-body">
            <div class="form-group">
                <p-autoComplete
                    [suggestions]="filteredCustomerList" 
                    (completeMethod)="handleSearchCustomer($event)"
                    placeholder="Enter Customer phone number"
                    field="VCode" 
                    [(ngModel)]="customerForm.VCode"
                    (onSelect)="onCustomerSelect($event)"
                />
            </div>
            <h3 class="mt-3">
                Details
                <i class="fa-solid" [ngClass]="showUserDetails ? 'fa-chevron-up' : 'fa-chevron-down'" (click)="togggleShowDetails()"></i>
            </h3>
            @if(showUserDetails) {
                <div class="customer-details-fields d-flex align-items-center flex-wrap gap-4">
                    <div class="form-group">
                        <label for="cname mb-2">Customer Name</label>
                        <input 
                            type="text" 
                            name="cname" 
                            id="cname" 
                            class="form-control" 
                            placeholder="Enter Customer Name"
                            [(ngModel)]="customerForm.Vname"
                        >
                    </div>
                    <div class="form-group">
                        <label for="cphone mb-2">Phone</label>
                        <input 
                            type="number" 
                            name="cphone" 
                            id="cphone" 
                            class="form-control" 
                            placeholder="Enter Customer phone number"
                            [(ngModel)]="customerForm.Phone"
                        >
                    </div>
                    <div class="form-group">
                        <label for="address mb-2">Address</label>
                        <input 
                            type="text" 
                            name="address" 
                            id="address" 
                            class="form-control" 
                            placeholder="Enter Customer Address"
                            [(ngModel)]="customerForm.Address1"
                        >
                    </div>
                    <div class="form-group">
                        <label for="area mb-2">Area</label>
                        <input 
                            type="text" 
                            name="area" 
                            id="area" 
                            class="form-control" 
                            placeholder="Enter Customer Area"
                            [(ngModel)]="customerForm.Area"
                        >
                    </div>
                    <div class="form-group">
                        <label for="route mb-2">Route</label>
                        <input 
                            type="text" 
                            name="route" 
                            id="route" 
                            class="form-control" 
                            placeholder="Enter Route details"
                            [(ngModel)]="customerForm.Route1"
                        >
                    </div>
                </div>
            }
        </div>
    </div>

    <main class="mt-5 cursor-pointer">
        <div class="tab-head d-flex align-items-center justify-content-between gap-4 flex-wrap mb-5">
            <div class="d-flex align-items-center flex-wrap">
                @for (type of foodTypes; track $index) {
                    <h4 role="button" class="selected mb-0" [ngClass]="{'active': selectedFoodType === type}"  (click)="selectFoodType(type)">{{ type }}</h4>
                }
            </div>
            <div class="actions">
                @if(OrderList.length === 0) {
                    <button class="btn btn-outline-primary" (click)="handleNavigateCreateNewOrder()">Create Order</button>
                }
                @if(OrderList.length > 0) {
                    <button 
                        class="btn btn-outline-danger" 
                        [disabled]="selectedFoodType === 'All'" 
                        (click)="handleCancelOrder()" 
                        data-bs-toggle="modal" 
                        data-bs-target="#cancelModal"
                    >Cancel Order</button>
                }
            </div>
        </div>
        @if(OrderList.length > 0){
            <p-table
                [value]="OrderList"
                selectionMode="single" 
                [(selection)]="selectedItem"
                dataKey="id" 
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Create Order</th>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Cost</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item" (click)="handleItemToCancel()">
                        <td>{{ item.Ordate | date: 'mediumDate' }}</td>
                        <td>{{ item.Item_Desc }}</td>
                        <td>{{ item.Qty }}</td>
                        <td>{{ item.StandardCost }}</td>
                        <td>X</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Create Order</th>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Cost</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of OrderList; track $index) {
                            <tr>
                                <td>{{ item.Ordate | date: 'mediumDate' }}</td>
                                <td>{{ item.Item_Desc }}</td>
                                <td>{{ item.Qty }}</td>
                                <td>{{ item.StandardCost }}</td>
                                <td (click)="handleItemToCancel(item)">X</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> -->
        } @else {
            <h6 class="text-center">No Orders to Display</h6>
        }
    </main>
</section>

<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Order Cancel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You sure want to cancel this order?

                <div>
                    <label for="fromdate">Cancel Start Date</label>
                    <input type="date" name="fromdate" id="fromdate" class="form-control" [(ngModel)]="cancelItem.fromDate">
                </div>
                <div>
                    <label for="reason">Reason to cancel</label>
                    <input type="date" name="todate" id="todate" class="form-control" [(ngModel)]="cancelItem.toDate">
                </div>
                <div>
                    <label for="reason">Reason to cancel</label>
                    <input type="text" name="reason" id="reason" class="form-control" [(ngModel)]="cancelItem.reason">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="handleConfirmCancel()">Save changes</button>
            </div>
        </div>
    </div>
</div>