.orders-list .table-responsive .table tbody tr td > img {
    width: 80px;
    height: 80px;
}

.orders-list .table-responsive .table tbody tr td:first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.orders-list .table-responsive .table tbody tr td:first-child p {
    margin-bottom: 0;
}

.orders-list .table-responsive .table tbody tr td:first-child p:first-child {
    font-weight: 700;
}

@media (max-width: 825px) {
    .orders-list .table-responsive .table tbody tr td:first-child {
        display: flex;
        flex-direction: column;
    }

}