<div class="header md:d-flex flex-col mb-5 align-items-center justify-content-between">
    <h3 class="mb-4">Orders List</h3>
    <p-calendar 
        [(ngModel)]="date"
        (onSelect)="handleUpdatedDateChange($event)"
        styleClass="w-100"
    />
    @if(!hasParams) {
        <p-dropdown 
            [(ngModel)]="foodType"
            [options]="types"
            optionLabel="type"
            placeholder="Select a Food Type"
            styleClass="mt-3 w-100"
            (onChange)="handleFoodTypeChange($event)"
        />
    }
</div>
<section class="orders-list">
    @for (order of ordersList; track $index) {
        <div class="card" (click)="handleOrderDetail(order)">
            <div class="card-body">
                <div class="title d-flex justify-content-between align-items-center">
                    <div>
                        <h4>{{ order.VName || order.Vname || order.vname }}</h4>
                        <p>{{ order.FoodType }}</p>
                    </div>
                    <div>
                        @if(order.Qty) {
                            <h6>Qty: {{ order.Qty }}</h6>
                        }
                        <span>{{ order.Ordate | date: 'mediumDate'  }}</span>
                        <span>{{ order.StartDate | date: 'mediumDate'  }}</span>
                    </div>
                </div>
                <div class="content">
                    <span>
                        {{ order.City || order.Address1 }}
                    </span>
                </div>
            </div>
        </div>
    }
</section>