<!-- <section class="content-header">
    @for (item of data; track item) {
        <div class="card" (click)="nagiateTo(item.navigateTo)">
            <div class="card-body">
                <div class="card-title">
                    <h3>{{ item.title }}</h3>
                </div>
                <div class="count">
                    <div></div>
                    <div>
                        {{ item.count }}
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<section *ngIf="showErrorDialog">
    <app-error [visible]="showErrorDialog" [message]="emptyMessage"></app-error>
</section> -->

<app-shared-home></app-shared-home>