<section class="package-details">
    <span> <strong class="person">{{ packageHeader.Dpname }}</strong> - Package Details</span>
    <table>
        <tr>
            <th>Total</th>
            <td>{{ packageHeader.Noofbills || 0 }}</td>
        </tr>
        <tr>
            <th>Packed</th>
            <td>{{ packageHeader.TotalPacked || 0 }}</td>
        </tr>
        <tr>
            <th>Balance</th>
            <td>{{ packageHeader.BalancePacked || 0 }}</td>
        </tr>
    </table>

    <h2 class="my-3">Package Details List</h2>

    <div class="filter-form mb-3">
        <input type="text" name="filter" id="filter" class="form-control" placeholder="Enter Filter value" (input)="handleFilterInputChange($any($event).target?.value)" >
    </div>

    <div class="package-details-list">
        @for (package of packageDetailsList; track $index) {
            <div class="card" [class]="{'packed': package.Packed === 1, 'unpacked': package.Packed === 0}">
                <div class="card-body">
                    <div class="title d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between gap-3 w-100">
                            <h6 class="customer">{{ package.VName }}</h6>
                            <h6 class="customer">{{ package.Vcode }}</h6>
                        </div>
                    </div>
                    <div class="content">
                        <span class="desc">Bill No: {{ package.InvNo }}</span>
                        <div class="desc">{{ package.ItemDesc }}</div>
                        <div class="actions mt-3 d-flex justify-content-between w-100">
                            <button class="btn btn-primary" (click)="handlePackedType(package, 'packed')">Pack</button>
                            <button class="btn btn-secondary" (click)="handlePackedType(package, 'pending')">Pending</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>