<div class="d-flex align-items-center justify-content-between">
    <h4>Ordered Items</h4>
    <div>
        <button class="btn btn-outline-danger me-2" data-bs-toggle="modal" data-bs-target="#orderCancelModal">Cancel</button>
    </div>
</div>

<section class="ordered-items">
    <table class="details">
        @for (item of orderUser; track $index) {
            <tr>
                <th>Name</th>
                <td>{{ item.Vname }}</td>
            </tr>
            <tr>
                <th>Item Type</th>
                <td>{{ item.FoodType }}</td>
            </tr>
        }
    </table>
    <div class="itemtable table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Create Date</th>
                    <th>Item</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                @for (item of orderItems; track $index) {
                    <tr>
                        <td>{{ item.Ordate | date: 'longDate' }}</td>
                        <td>{{ item.Item_Desc }}</td>
                        <td>{{ item.Qty}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="orderCancelModal" tabindex="-1" aria-labelledby="orderCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center mt-3">Are you sure want to cancel the order ?</p>
                <div class="mb-3">
                    <label for="fromorderdate">From Date</label>
                    <input type="date" required  name="fromorderdate" id="fromorderdate" class="form-control w-100" [(ngModel)]="cancelForm.fromDate"(ngModelChange)="cancelForm.fromDate">
                </div>
                <div class="mb-3">
                    <label for="toorderdate">To Date</label>
                    <input type="date" required name="toorderdate" id="toorderdate" class="form-control w-100" [(ngModel)]="cancelForm.toDate"(ngModelChange)="cancelForm.toDate">
                </div>
                <div class="mb-3">
                    <label for="reason">Cancel Reason</label>
                    <input type="text" class="form-control" placeholder="Enter cancel Reason" [(ngModel)]="cancelForm.reason" (ngModelChange)="cancelForm.reason"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" (click)="handleCancelOrder()">Cancel Order</button>
            </div>
        </div>
    </div>
  </div>